.button-container {
  width: 400px;
  height: 667px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.button-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button {
  width: 160px;
  background: #ffce22;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background: #e6b90f;
}

.button-text {
  color: #1f2128;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}